# Copy this file to .env.
# Edit the .env file with the required settings before starting the app.

# 1. Required: Provide your Model's deployment URL for scoring.

MODEL_URL=<PASTE_MODEL_URL>


# 2. Required: APIKEY to create bearer token

API_KEY=<IBM_CLOUD_APIKEY>

HOST=0.0.0.0
PORT=5000
